.editInvitations {
  background-color: var(--color-white);
  border-radius: 16px;

  .headerWrapper {
    padding: 32px 28px 1px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      .headerRight {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
    .subHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .invitationList {
    & > *:not(:last-child) {
      border-bottom: 1px solid var(--color-gray-200);
    }
  }
}

/* Tablet */
@media screen and (max-width: 1199px) {
}

/* Mobile */
@media screen and (max-width: 743px) {
  .editInvitations {
    .headerWrapper {
      padding: 24px 20px 1px;
      .header {
        margin-bottom: 12px;
      }
      .subHeader {
        margin-bottom: 26px;
      }
    }
  }
}
