.dashboardContainer {
  margin-left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 70px);
  display: flex;
  flex-direction: row;
  overflow: overlay;
}

//내부 넓이 수정하기
.dashboard_inner {
  margin: 40px;
  width: 1022px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .dashboard_myListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .dashboard_myList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
    .dashboard_pageCursor {
      width: 100%;
      margin-top: 12px;
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 16px;

      font-size: 14px;
      font-weight: 400;
      color: var(--color-black-500);
    }
  }

  .dashboard_invitedList {
    width: 100%;
    border-radius: 8px;
    background-color: var(--color-white);
    padding: 32px 0;
    .invited_inner {
      width: 966px;
      margin: auto;

      .dashboard_invitedTitle {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 700;
        color: var(--color-black-500);
      }
      input {
        width: 100%;
        height: 40px;
        border-radius: 8px;
      }
      .dashboard_invitedColumnTitle {
        width: 100%;
        margin-top: 24px;
        padding-left: 76px;
        padding-right: 194px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;

        font-size: 16px;
        font-weight: 400;
        color: var(--color-gray-400);

        .column_title {
        }
        .column_inviter {
        }
        .column_button {
          margin-left: 62px;
        }
      }
    }

    .dashboard_invitedContainer {
      width: 100%;
      height: 72px;
      padding-left: 76px;
      padding-right: 194px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-bottom: 1px solid var(--color-gray-200);
      align-items: center;

      font-size: 16px;
      font-weight: 400;
      color: var(--color-black-500);

      .invited_title {
        max-width: 200px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .invited_inviter {
      }

      .dashboard_invitedButtons {
        display: inline-flex;
        gap: 10px;
      }
    }
  }
}

.invited_empty {
  width: 232px;
  margin: 64px auto 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray-400);

  .invited_emptySVG {
    width: 100px;
    height: 100px;
  }
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Tablet*/
@media screen and (max-width: 1199px) {
  .dashboardContainer {
    margin-left: 160px;
    width: calc(100% - 160px);
  }
  .dashboard_inner {
    width: 504px;
    margin: 40px auto;
    gap: 48px;
    .dashboard_myListContainer {
      .dashboard_myList {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .dashboard_invitedList {
      .invited_inner {
        width: 448px;
      }
    }
  }

  .invited_empty {
    margin: 64px auto;
  }
}

/*Mobile*/
@media screen and (max-width: 743px) {
  .dashboardContainer {
    margin-left: 67px;
    width: calc(100% - 160px);
  }
  .dashboard_inner {
    width: 260px;
    margin: 24px auto;
    gap: 24px;
    .dashboard_myListContainer {
      .dashboard_myList {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .dashboard_invitedList {
      .invited_inner {
        width: 228px;
      }
    }
  }

  .invited_empty {
    width: 155;
    margin: 105px auto;
    font-size: 12px;

    .invited_emptySVG {
      width: 60px;
      height: 60px;
    }
  }
}
