.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Label,
.Input,
.Button {
  display: block;
  width: 100%;
}

.checkbox-container {
  > p {
    margin-left: 8px;
    display: inline-block;
  }
}

.button-container {
  margin: 24px 0;
}

.question {
  text-align: center;
  .Link {
    color: #5534da;
  }
}
