.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 520px;
  box-sizing: border-box;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.checkbox-container {
  > p {
    margin-left: 8px;
    display: inline-block;
  }
}

.button-container {
  margin-bottom: 24px;
}

.question {
  text-align: center;
  .Link {
    color: #5534da;
  }
}
