.Button {
  display: inline-flex;
  color: var(--color-white);
  font-weight: 500;
  outline: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 54px;
  font-size: 16px;
  padding: 14px 46px;

  background: var(--color-violet);
  transition: all 0.3s;

  &:hover {
    background: var(--color-blue); // 확인용
  }
}

.cancled {
  color: var(--color-gray-500);
  background: var(--color-white);
  border: solid 1px var(--color-gray-300);
  &:hover {
    background: var(--color-violet-8);
  }
}

.comment {
  color: var(--color-white);
  background: var(--color-violet);
  font-weight: 600;

  &:hover {
    background: var(--color-violet-8);
  }
}

.disabled {
  background-color: var(--color-white);
  color: var(--color-gray-500);
  border: solid 1px var(--color-gray-300);

  &:hover {
    background: var(--color-violet-8);
  }
}

.dashboardDelete {
  color: var(--color-black-500);
  background-color: var(--color-gray-100);
  font-weight: 600;

  &:hover {
    background: var(--color-violet-8);
  }
}

/* Tablet */
@media screen and (max-width: 1199px) {
  .Button {
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width: 743px) {
  .Button {
    width: 100%;
  }
}
