.sideMenuContainer {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--color-white);
  padding: 20px 8px;
  border-right: 1px solid var(--color-gray-300);
}

.sideMenuContentHeader {
  height: 90px;

  .sideMenuLogo {
    height: 33px;
  }

  .sideMenu_LogoSmall {
    display: none;
  }
}

.addDashBoard {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  font-weight: 600;
  color: var(--color-gray-500);
  .dashboard_add {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.sideMenuContentBox {
  height: 766px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sideMenuContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.arrowButtons {
  margin-top: 20px;
}

/*Tablet*/
@media screen and (max-width: 1199px) {
  .sideMenuContainer {
    width: 160px;
  }
  .sideMenuContentBox {
    align-items: center;
  }
}

/*Mobile*/
@media screen and (max-width: 743px) {
  .sideMenuContainer {
    width: 67px;
  }
  .sideMenuContentHeader {
    height: 50px;
    .sideMenuLogo {
      display: none;
    }
    .sideMenu_LogoSmall {
      display: flex;
    }
  }
  .addDashBoard {
    justify-content: center;
  }
  .dashboard_name {
    display: none;
  }

  .arrowButtons {
    display: none;
  }
}
