.userIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 9999px;
  background-color: var(--color-orange);

  border: 3px solid var(--color-white);

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}

.cardIcon {
  width: 24px;
  height: 24px;
  font-size: 12px;
  border: none;
}

/*Mobile*/
@media screen and (max-width: 743px) {
  .cardIcon {
    width: 22px;
    height: 22px;
    font-size: 10px;
  }
}
