.todo-create {
  width: 584px;
  height: 100%;
  padding: 32px;
  border-radius: 16px;
  color: var(--color-black-500);
  background-color: var(--color-white);
}
.todo-create-h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.todo-create-input-section {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin: 32px 0;
}
.todo-create-input-container {
  display: flex;
  column-gap: 32px;
}
.todo-create-input-auth {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.todo-create-label {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.48px;
}
.todo-create-assignee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
  color: var(--color-black-500);
  outline-color: #5534da;
}
.placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-gray-500);
}
.arrow-drop-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.toggle-column-item-container {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background-color: var(--color-violet-8);
  column-gap: 8px;
  border-radius: 16px;
  cursor: pointer;
}
.toggle-column-item-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-violet);
}
.toggle-assign-item-container {
  display: flex;
  column-gap: 8px;
  align-items: center;
  height: 48px;
  cursor: pointer;
}
.dropdown-menu {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  padding: 8px 16px;
  border: 1px solid var(--color-gray-300);
  border-radius: 6px;
  background-color: var(--color-white);
  margin-top: 4px;
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
}
.toggle-assign-item-img {
  width: 26px;
  height: 26px;
  border: 2px solid var(--color-white);
  border-radius: 50%;
}
.toggle-column-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-violet);
}
.toggle-assign-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-black-500);
}
.toggle-item-container {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.check-icon {
  width: 22px;
  height: 22px;
}
.todo-create-auth-label {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.calendar-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 9px 16px;
  border-radius: 6px;
  border: 1px solid var(--color-gray-300);
  width: 100%;
}
.calendar-container > :nth-child(2){
  width: 100%;
}
.calendar-container-input {
  border: none;
  height: 31px;
  width:100%;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  padding: 2px 6px;
}
.prev-tag{
  display: flex;
  column-gap: 8px;
}
.todo-create-input-img {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.todo-create-button-container {
  display: flex;
  column-gap: 8px;
}
.todo-edit-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 217px;
  height: 48px;
  padding: 15px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
  color: var(--color-black-500);
  outline-color: #5534da;
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
  .todo-create {
    padding: 24px 16px;
  }
}

@media screen and (max-width: 743px) {
  .todo-create {
    padding: 28px 20px;
    width: 100%;
  }
  .todo-create-input-container {
    flex-direction: column;
    row-gap: 32px;
  }
  .todo-create-input-section {
    margin: 24px 0;
  }
  .todo-create-auth-label,
  .todo-create-label {
    line-height: 19.09px;
    font-size: 16px;
  }
  .todo-create-button {
    width: 100%;
    height: 42px;
    padding: 12px 56px;
    font-size: 14px;
  }
  .todo-edit-dropdown {
    width: 100%;
  }
}
