/* pretendard web font cdn */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "reset.scss";

$width-max-tablet: 744px;
$width-max-mobile: 375px;

:root {
  --font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif, "Montserrat";

  --color-black: #000000;
  --color-black-800: #171717;
  --color-black-500: #333236;
  --color-black-300: #4b4b4b;

  --color-gray-500: #787486;
  --color-gray-400: #9fa6b2;
  --color-gray-300: #d9d9d9;
  --color-gray-200: #eeeeee;
  --color-gray-100: #fafafa;

  --color-white: #ffffff;

  --color-violet: #5534da;
  --color-violet-8: #f1effd;

  --color-red: #d6173a;
  --color-green: #7ac555;
  --color-purple: #760dde;
  --color-orange: #ffa500;
  --color-blue: #76a5ea;
  --color-pink: #e876ea;

  --background-color-basic: var(--color-gray-100);
  --text-color-basic: var(--color-black-500);

  --modal-background: var(--color-white);
  --modal-radius: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  min-width: var(--width-minimum);
  min-height: 100vh;
  font-size: 100%;
}
body {
  background-color: var(--background-color-basic);
  color: var(--text-color-basic);
  font-family: var(--font-family);
  &:hover {
    text-decoration: none;
  }
}

/* Tablet */
@media screen and (max-width: $width-max-tablet) {
}

/* Mobile */
@media screen and (max-width: $width-max-mobile) {
}
